<header>
    <div class="logo">
        <img src="./assets/img/logo-white.png" alt="logo">
    </div>
    <div class="search-bar">
        <form action="#" method="post">
            <input name="search" id="search" type="text" placeholder=" Search...">
        </form>
    </div>
    <nav>
        <div class="dropdown-container" *ngFor="let meno of menus">
            <div class="dropdown-menu-toggle" >{{meno.menu}}</div>
            <div class="dropdown-items hide">
                <ul> <li *ngFor="let item of meno.submenu">{{item}}</li></ul>
            </div>
        </div>
    </nav>
</header>

