/*     RESET CSS     */

html, body, div, span, applet, object, iframe, figure, h1, h2, h3, h4, h5, h6, p, nav, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, button {
    margin: 0;
    padding: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    list-style-type: none;
    background-color: transparent;
    text-decoration: none;
    user-select: none;
}

 
 
 /*  EVERYTHING  */
 
 *:link, *:visited  {
    color:black;
}

html {
    font-size: 16px;
    color: black;
    background-color: rgb(232, 232, 236);
    font-family: Georgia, 'Times New Roman', Times, serif;
}
 



 
 /* heading */
h2 {
    font-size: 2.5rem;
    text-transform: capitalize;
    margin: 3rem 1rem 2rem;
    text-align: center;
}

h3 {
    font-size: 2rem;
    text-transform:capitalize;
}

 h4 {
     font-size: 1rem;
     text-transform: uppercase;
     margin-bottom: 1rem;
 }

s {
    text-decoration: line-through;
}


/* 2. MAIN  */


/*------   SUB MENU   */
        .sub-menu ul {
            display: flex;
            justify-content: space-around;
            padding: 0.25rem;
            background-color: rgb(232, 232, 236);
            font-size: 0.8rem;
            font-weight:bold;
            text-transform:uppercase;
        }


        .sub-menu ul li:hover {
            transform: scale(1.05);
            font-weight: bold;
        }

            .sub-menu .emphasis-menu {
                color: rgb(14, 14, 131);
            }





/*------  article    */

                
#main {
    display: flex;
    flex-direction: column;
    margin: 0 5rem;
    text-align: center;

}




/*----- newsletter      */

#newsletter {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(14, 14, 131);
    background-size: cover;
    color: white;
    padding: 1rem;
}

    #newsletter svg{
        padding-right: 2rem;
        height: 40px;
        fill: white;
    }


    #newsletter h4 {
        font-size: 1.7rem;
        font-weight: bold;
        margin-bottom: 0%;
    }
    #newsletter p {
       color:rgb(224, 222, 228);
    }

    #newsletter input {
        width: 40%;
        margin: 0 1rem;
        padding: 0.5rem;
        border-radius: 5px;
    }

    #newsletter button {
        background-color: rgb(14, 14, 131);
        border-radius: 5px;
        border-color: white;
        border-width: 3px;
        color:white;
        padding: 0.5rem 1rem;
        text-transform: uppercase;
    }


/*-----  3. FOOTER     */

footer {
    display: flex;
    justify-content: space-around;
    color:white;
    flex-wrap: wrap;
    background-color: rgb(0, 0, 0);
    padding: 1rem;
}
        .footer-section {
            padding: 1rem;
            width: 250px;
        }

        .footer-section p {
            color: rgb(190, 186, 186);
        }

        .icone-footer {
            display: flex;
            flex-direction: row;
            align-items: center;
        }

    footer .footer-svg {
                fill: white;
                height: 15px;
                margin: 0.5rem;
    }



 /*  REGISTER FORM */    
 
    #register-form {
   
     color: rgb(0, 0, 0);
     display: flex;
     justify-content: center;
     background-color: white;
 }

        #register-form .form-body {
            margin: 5rem;
            display: flex;
            padding: 2rem;
            flex-direction: column;
            align-items: center;
            background-color: rgb(225, 225, 225);
            width: 200px;
            box-shadow: 5px 5px 10px rgb(109, 109, 109);
            border-radius: 5px;
        }
        #register-form .form-body div{
            display: flex;
            flex-direction: column;
            padding: 0.5rem 0;
        }
        #register-form .form-body button {
            padding: 0.2rem;
            border-radius: 5px;
        }
        #register-form .form-body input {
            padding: 0.1rem;
            border-radius: 5px;
            margin-top: 0.25rem;
        }

        #register-form p {
            margin-top: 1rem;
            font-size: 0.75rem;
            text-align: justify;
            line-height: 95%;
        }


/*     MEDIA QUERY        */

    @media only screen and (max-width: 1000px) {

            /*  HEADER */
        
            header nav div{
                padding: 0 0.5rem;
            }

            /*  prop - bar  */
                
            .prop-bar svg {
                height: 20px;
                margin: 0.5rem;
            }

            .prop-bar .text {
                margin: 0.5rem 0;
                width: 10rem;
            }
        
            .prop-bar h4 {
                font-size: 1rem;
            }
        
            .prop-bar p {
                font-size: 0.7rem;
            }

            
    }



    @media only screen and (max-width: 800px) {
        
            .sub-menu {
                    display: none;
                }

            header {
                padding: 1rem;
                margin-top: 0; 
            }


    }

    @media only screen and (max-width: 700px) {

            html {
                font-size: 14px;
            }


            /*   head */

             header .logo img {
                        width: 8rem;
            }

            header .search-bar {
                        width: 50%;
            }
            
            header .dropdown-container {
                         display: none;
            }
                            

            header .menu-burguer {
                display: flex;
               
            }

                header .menu-burguer img {
                    width: 20px;
                    align-items: center;
                }

             /*  prop - bar  */
    

                    
            #newsletter svg{
                height: 25px;
            }
                    
                    
            #newsletter h4 {
                font-size: 1.3rem;
            }

            #newsletter p {
                font-size: 0.9rem;
            }
                    
            #newsletter input {
                padding: 0.2rem 0.5rem;
            }
                    
            #newsletter button {
                padding: 0.25rem 1rem;
                font-size: 0.9rem;
            }

            .glider-container {
                margin: 1rem 1rem;
            }

    }

    @media only screen and (max-width: 600px) {

            .figure-container .img-container {
                height: 60%;
            }

                                
            .figure-container figcaption {
                font-size: large;
            }

                figcaption .details {
                    font-size: 1rem;
                }
        
            .figure-container button {
                padding: 0.2rem 1rem;
                margin-bottom: 1rem;
            }

    }


    @media only screen and (max-width: 500px) {
            
            .figure-container figcaption {
                font-size:medium;
            }

            #newsletter h4 {
                display: none;
            }
            #newsletter p {
               display: none;
            }


}